<span class="brand-mark" aria-hidden="true">
  <svg viewBox="0 0 48 48" role="img">
    <path d="M11 17.5h10l3.6 4H38a5 5 0 0 1 5 5v10.5a5 5 0 0 1-5 5H10a5 5 0 0 1-5-5V22.5a5 5 0 0 1 5-5Z" fill="currentColor" opacity=".95"/>
    <path d="M15 16a9 9 0 0 1 17.2-3.7A7.5 7.5 0 0 1 39.5 20H14a6 6 0 0 1 1-4Z" fill="#fff"/>
  </svg>
</span>
<span class="brand-copy"><strong>Record</strong><span>Drive</span></span>
